body {
	text-align: center;
}

.gameBoard {
	margin: 0 auto;
}

.gameBoard td {
	padding: 0px;
}

.gameBoard input {
	/*background-color: #dedede;
	color: green;*/
}

.rowBtn {
	width: 75px;
	height: 75px;
}

.scoreBtn {
	width: 75px;
	height: 150px;
}
