/*test*/

body {
	text-align: center;
	min-width: 650px;
	background-color: #2363DC;
	background-image: url("marbleBG.jpg");
}

.gameBoard {
	margin: 0 auto;
}

.gameBoard td {
	padding: 0px;
}

.rowBtn {
	font-size: 35px;
	background-color: #ffcc00;
	border: 1px solid #ffcc00;
	-webkit-border-radius:10px;
	-webkit-box-shadow:inset 1px 1px 1px #ffffff;
	cursor: pointer;
	width: 75px;
	height: 75px;
}

.rowBtn:active {
	border: none;
}

.rowBtn:focus {
	outline: 0;
}

.scoreBtn {
	font-size: 35px;
	background-color: #ffcc00;
	border: 1px solid #ffcc00;
	-webkit-border-radius:10px;
	-webkit-box-shadow:inset 1px 1px 1px #ffffff;
	width: 75px;
	height: 150px;
}

.scoreBtn:focus {
	outline: 0;
}

.wrapper {
	margin: 0 auto;
	width: 300px;
}

.turnIndicator {
	font-size: 90px;
	font-family: Tahoma, Helvetica, Arial, Sans-Serif;
	text-align: center;
	color: #ccc;
	text-shadow: 1px 2px 2px #ccc;
	display: inline;
}

#p1Turn {
	float: left;
}

#p2Turn {
	float: right;
}